<h1>Cat Shelter</h1>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="text" name="search"/>
  <button type="submit">Search</button>
</form>
<main>
  <section class="cats">
    <ul>
      {{#each cats}}
      {{> cat}}
      {{/each}}
    </ul>
  </section>
</main>